<div class="login-page">
  <header>House Management</header>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()">
      <div class="login-input-container">
        <input type="text" id="login" name="login" placeholder="e-mail" formControlName="email">
        <div *ngIf="f.email.touched && f.email.invalid">
          <div *ngIf="f.email.errors" class="errorAlert">Please enter a valid e-mail.</div>
         </div>
        <br><br>
        <input type="password" id="password" name="password" placeholder="password" formControlName="password">
        <div *ngIf="f.password.touched && f.password.invalid">
          <div *ngIf="f.password.errors" class="errorAlert">Please enter a valid password.</div>
      </div>
        <br><br><br><br>
      </div>
      <div class="submit-container">
             <input type="submit" value="Login" class="submit">
      </div>
      <div *ngIf="registerForm.touched && !registerForm.valid && f.password.touched && f.email.touched"  class="errorAlert">
        <div>The form is invalid!</div>
     </div>
    </form>
</div>
