.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/main.jpg);
  width: 100w;
  height: 100vh;
}

form input {
  width: 35rem;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 20px;
  border-color: transparent;
}
.submit {
  background-color: rgb(88, 140, 179);
  color: white;
}

.submit:hover {
  background-color: rgb(20, 97, 160);
  color: white;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
}

input#login {
  padding-left: 15px;
}
input#password {
  padding-left: 15px;
}

header {
  padding: 2.5%;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px rgb(88, 140, 179);
}

input:focus {
  outline: none;
}

input#login.ng-invalid.ng-touched {
  border: 2px solid red;
}

input#password.ng-invalid.ng-touched {
  border: 2px solid red;
}
