.tasks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5vh;
  flex-direction: column;
  background-image: url(../../../assets/main.jpg);
  background-repeat: repeat;
  width: 100wh;
  height: 100vh;
  font-size: 1.4rem;
  font-weight: bold;
}

ul {
  background-color: white;
  padding-top: 2%;
  padding-right: 2%;
  border-radius: 5px;
}

li {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
